/* Main Background */

body {
    background-color: black;
    margin: 25px;
  }
  
/* Header Headings */

  h1 {
    color: white;
  }

  h3 {
    color: gainsboro;
  }
  
  /* Paragraphs */
  
  p1 {
    font-family: verdana;
    font-size: 20;
  }

  p{
    color: rgb(255, 217, 0);
  }

  p5 {
    font-family: verdana;
    font-size: 14;
    color: rgb(255, 136, 0);
  }

/* Styles for Semantic Elements */

  header{
    background-color: darkred
  }

  nav{
    background-color: red
  }

  section{
    border-top: 14px solid black;
    background-color: green
  }


  figure{
    background-color: yellow
  }

  figcaption{
    background-color: darkred
  }

  footer{
    border-top: 14px solid black;
    background-color: darkred
  }

  article{
    color: rgb(255, 217, 0);
  }

  /* List Styles */

  ul{
    color: rgb(255, 217, 0);
  }

  /* Hyperlink Style */

  a {
    color: rgb(0, 225, 255);
  }